body > * {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #272822;
}

img {
	max-width: 100%;
}

#logo img {
	height: 100px;
}

.card {
	border-color: #f6fd53;
}

.card-text {
	font-size: 0.9em;
}

.card-title {
	font-weight: 600;
}

.fa-piggy-bank {
	color:rgb(254, 151, 168)
}

/* .modal-header {
	margin: auto;
} */

.modal-body p:first-of-type{
	text-align: center;
	font-weight: 600;
}