body > * {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #272822;
}

img {
	max-width: 100%;
}

#logo img {
	height: 100px;
}

.card {
	border-color: #f6fd53;
}

.card-text {
	font-size: 0.9em;
}

.popup-wrapper {
	background: rgba(0,0,0,0.9);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.popup {
	text-align: center;
	width: 100%;
	max-width: 300px;
	margin: 10% auto;
	padding: 20px;
	background: white;
	position: relative;
}

.popup-close {
	position: absolute;
	top: 5px;
	right: 8px;
	cursor: pointer;
}