body > * {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #222529;
}

header {
	opacity: .9;
}

img {
	max-width: 100%;
}

#logo img {
	height: 100px;
}

.card {
	border-color: #f6fd53;
}

.card-text {
	font-size: 0.9em;
}

.card-title {
	font-weight: 600;
}

.fa-piggy-bank {
	color:rgb(254, 151, 168)
}

.modal-header {
	font-weight: 600;
}

.modal-body p:first-of-type{
	font-weight: 600;
}

#popup {
	background: rgba(0,0,0,0.9);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.popup-content {
	width: 100%;
	max-width: 80%;
	margin: 10% auto;
	padding: 20px;
	background: rgb(34, 37, 41);
	position: relative;
}

.popup-close {
	position: absolute;
	color: white;
	top: 5px;
	right: 8px;
	cursor: pointer;
	font-size: 1.5em;
	padding: 5px;
}

.popup-content img {
	max-height: 70px;
	/* max-width: 75px;  */
}

.candy-count {
	color: white;
}

.sold-out-parent {
	position: relative;
}

.sold-out {
	position: absolute;
}






